---
layout: default
title: Petty
---
<!-- <div id="home">
	<h1>Blog Posts</h1>
	<ul class="posts">
		{% for post in site.posts %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
 -->
<div class="content">
	<p>You can email me at <a href="mailto:pettinarip@gmail.com">pettinarip@gmail.com</a>.</p>

	<!-- <h2 id="projects">Projects</h2>
	
	<div class="grid">
		<div class="unit one-of-two">
			<ul class="projects">
				<li>
					
					<img src="/images/image_style_thumb.png" width="180px" />
					
					<div>
						<h4>
						
						<span><a href="                                              /recognizing-image-style                                      ">Recognizing Image Style</a></span>
						
						</h4>
						
						<p>Image style is integral to visual communication, but has received scant research attention.
						We gather datasets of photo and painting style, and evaluate convolutional neural nets for the task.</p>
						
						
						<ul>
							<li><a href="/files/1311.3715v3.pdf">BMVC 2014</a>.</li>
							<li><a href="http://vislab.berkeleyvision.org/">Vislab</a> (code and data) and <a href="http://similaritydemo.vislab.berkeleyvision.org/">demo</a>.</li>
						</ul>
						
					</div>
				</li>
	
				<li>
					
					<img src="/images/mdp_masks.png" width="180px" />
					
					<div>
						<h4>
						
						<span><a href="                                              /recognition-on-a-budget                                      ">Anytime Visual Recognition</a></span>
						
						</h4>
						
						<p>Features have different costs and different classes benefit from different features.
						A multi-class recognition system should dynamically select them to maximize performance under a cost budget.</p>
						
						
						<ul>
							<li><a href="/files/cvpr_2014_anytime_recognition.pdf">CVPR 2014</a>, <a href="/files/icmlw_2013_dynamic_feature_selection.pdf">ICMLW 2013</a>, <a href="/files/nips_2012_timely_object_recognition.pdf">NIPS 2012</a>.</li>
						</ul>
						
					</div>
				</li>
				
			</ul>
		</div>
	</div> 


	<hr />-->
	{% assign postcounter = site.posts | size %}
	{% if postcounter > 0 %}
	<h2 id="notes">Notes</h2>
	<ul class="projects notes">
		{% for post in site.posts %}
			<li class="nothumb">
				<img src="{{ site.github.url }}/images/{{ post.img }}" width="120px" />
				<div>
					<span class="sans">
						
						<span><a href="{{ page.url | prepend: site.github.url }}">{{ post.title }}</a></span>
						
					</span>
					<p>
						{{ post.date | date_to_string }}<br />
						{{ post.excerpt }}
					</p>
				</div>
			</li>
		{% endfor %}
	</ul>
	{% endif %}

	<hr />
	<div class="footer"> pettys </div>

</div>