<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es-ar">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Pablo Pettinari" />
        <!-- Homepage CSS -->
        <link rel="stylesheet" href="{{ site.github.url }}/css/main.css" type="text/css" />
    </head>
    <body>
        <div class="container">

            <div class="smaller_container">
        
                <div class="header">
                    <p>
                        <a href="{{ site.github.url }}/" rel="author">
                            <i class="fa fa-th"></i>
                            {{ site.title }}
                        </a>
                    </p>
                    <h1><p>{{ page.title }}</p></h1>
                </div>

                <div class="content">
                    
                    {{ content }}

                    <hr />
                    <div class="footer"> pettys </div>

                </div>
                
            </div>
            
        </div>
    </div>
</body>